<!-- manage products content  -->
  <div class="manage-categories-products-content content-wrapper">

    <!-- title  -->
    <div class="title">
        <h2>Manage Products</h2>
        <span class="date"><i class="fa-regular fa-calendar-days"></i>{{ getDate() | date: 'MMM d, y, h:m a' }}</span>
    </div>

     <!-- products box container -->
    <div class="container-box">
        <div class="controls">
            <div class="search">
                <div class="search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" class="search-text" placeholder="Search products">
                </div>
            </div>

            <div class="filter">
                <div class="filter-box">
                    <i class="fa-solid fa-filter"></i>
                    <i class="fa-solid fa-border-all"></i>
                </div>
                <div class="buttons">
                    <button class="btn" (click)="toggleAddProduct()"><i class="fa-solid fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>

        @if (isLoading) {
            <div class="isLoading">
                <div class="loader"></div>
            </div>
        }@else {
         <div class="card-container">
            <div class="box" *ngFor="let item of products">
                <div class="box-img"><img [src]=`${getImageUrl(item.imageUrl)}` alt="" class="img-box"></div>
                <div class="text-box">
                <div class="info">
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                        <div class="name-category">
                            <h3>{{item.name}}</h3>
                            <span class="category">{{item.categoryName}}</span>
                        </div>
                        <h2 class="price">{{item.price | currency: "R"}}</h2>
                </div>
                    <div class="buttons">
                        <i class="fa-solid fa-eye"></i>
                        <i class="fa-solid fa-pen"></i>
                        <i class="fa-solid fa-trash-can" (click)="deleteProduct(item.id)"></i>
                    </div>
                </div>
            </div>
        </div>
        }
       
    </div>

    <!-- add products component  -->
     <app-admin-add-product-component [isVisible]="isVisible" (productCreated)="getProducts()"></app-admin-add-product-component>

</div>