<div class="login-register login" *ngIf="isVisible">
   <form [formGroup]="form" class="form" (ngSubmit)="login()">

    <div class="close" (click)="closeLogin()"><i class="fa-solid fa-xmark"></i></div>

    <div class="logo"><i class="fa-solid fa-cart-plus"></i></div>
    <div class="title">
        <h2>Let's Get Started</h2>
        <p>Sing in & continue shopping</p>
    </div>

    <div class="inputs">
        <label for="email">
             <div class="label-input">
                <i class="fa-solid fa-envelope"></i>
                <input type="email"  id="email" autocomplete="email" formControlName="email" class="textBox" placeholder="Email">
             </div>
             <span class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">Email is required and must be valid.</span>
        </label>
        <label for="password">
             <div class="label-input">
                <i class="fa-solid fa-lock"></i>
                <input type="password"  id="pass" autocomplete="current-password" formControlName="password" class="textBox" placeholder="Password">
             </div>
             <span class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">Password is required (min 5 chars).</span>
        </label>
   
        <div class="remember-me">
            <span class="check"><input type="checkbox" name="" id="">Remember Me</span>
            <p class="forgot-pwd">Forgot Password?</p>
        </div>

        <div class="buttons">
            <button type="submit" class="btn"><i class="fa-solid fa-right-to-bracket"></i>Sing In</button>
        </div>

        <p>Don't have an account? <span (click)="onClickRegister()">Sing Up</span></p>

        <div class="sci-lgn">
            <p>- Sing With -</p>

            <div class="sci">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>
   </form>
</div>
