    <section class="marquee-box" id="marquee">
       <div class="marquee">
       <div class="content">
       <div behavior="" direction="" class="text-marquee">
                <div class="marquee-content">
                    <span>Exclusive Electronic Discounts</span>
                   <i class="fa-solid fa-headphones"></i>
                    <span>Lorem ipsum dolor sit amet upto 40%</span>
                    <i class="fa-solid fa-headphones"></i>
                    <span>Best Lorem, ipsum dolor deals</span>
                    <i class="fa-solid fa-headphones"></i>
                    <span>Best Lorem, ipsum dolor deals</span>
                </div>
                <div class="marquee-content">
                    <span>Exclusive Electronic Discounts</span>
                   <i class="fa-solid fa-headphones"></i>
                    <span>Lorem ipsum dolor sit amet upto 40%</span>
                   <i class="fa-solid fa-headphones"></i>
                    <span>Best Lorem, ipsum dolor deals</span>
                   <i class="fa-solid fa-headphones"></i>
                    <span>Best Lorem, ipsum dolor deals</span>
                </div>
                <div class="marquee-content">
                    <span>Exclusive Electronic Discounts</span>
                    <i class="fa-solid fa-headphones"></i>
                    <span>Lorem ipsum dolor sit amet upto 40%</span>
                  <i class="fa-solid fa-headphones"></i>
                    <span>Best Lorem, ipsum dolor deals</span>
                    <i class="fa-solid fa-headphones"></i>
                    <span>Best Lorem, ipsum dolor deals</span>
                </div>
            </div>
            </div>
       </div>
    </section>